@charset "UTF-8";

header>h1{
	float: left;
	font-size: 20pt;
	width: 200px;
	height: 100px;
}

header>.topmenu{
	float: right;
	width: 600px;
	height: 100px;
	list-style: none;
}

header>.topmenu>li{
	float: left;
	width: 150px;
	font-size: 15pt;
	text-align: center;
	transition: 0.8s;
}

.topmenu>li:hover {
	background-color: #0000FF;
	color: #FFFFFF;
}

